.blurred-container {
  background-image: url("../assets/BlurredBG.png");
  padding: 0;
  height: 340px;
  display: grid;
  grid-template-rows: 10fr 12fr;
  align-items: center;
}

/* Hourly Forecast */
.hourly-forecast {
  text-align: center;
  display: flex;
  margin: 0;
  overflow-x: scroll;
  padding-top: 1em;
}
/* ----- */

/* tfl buttons */
.lines {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.line-container {
  display: flex;
  gap: 2.25em;
}
/* ----- */
