.box-container {
  background-image: url("../assets/BlurredBG.png");
  padding: 0;
  height: 340px;
  display: grid;
  grid-template-rows: 10fr 12fr;
  align-items: center;
}

.box {
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  border-radius: 10px;
  background-image: url("../assets/BlurredBG.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  margin-bottom: 20px;
  width: 330px;
  font-family: "Arial";
  font-size: 2px;
  height: 100px;
  margin-right: 4800;
}

.box h2 {
  font-size: 5px;
  text-align: center;
}

.subdivision {
  display: flex;
  align-items: center;
  margin: 5px 0;
  justify-content: space-between;
}

.subdivision span {
  font-size: 2px;
}

.box img {
  width: 25%;
}

div#top {
  margin-top: -20px;
}

div#bottom {
  margin-top: +15px;
}

button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  color: white;
  font-size: large;
}

button img {
  height: 100%;
  object-fit: cover;
}
