.box-container {
  padding: 0;
  height: 340px;
  display: grid;
  grid-template-rows: 10fr 12fr;
  align-items: center;
}

.box {
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  border-radius: 10px;
  background-image: url("../assets/locationbg.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  margin-bottom: 20px;
  width: 330px;
  height: 100px;
  margin-right: 4800;
  opacity: 0.85;
  filter: brightness(1.3);
}

.box h2 {
  color: #fff;

  /* Locations - Name */
  font-family: Inter;
  font-size: 20.178px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.202px;
  text-align: center;
}

.subdivision {
  display: flex;
  align-items: center;
  margin: 5px 0;
  justify-content: space-between;
}

.box img {
  width: 15%;
}

div#top {
  margin-top: -20px;
}

div#bottom {
  margin-top: +15px;
}

.box button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.box button img {
  width: 30px;
  color: white;
}

#description {
  color: #fff;

  /* Locations - Description */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: 4px;
  letter-spacing: 0.12px;
  text-align: start;
}

#high-low {
  display: flex;
  gap: 1em;
  text-align: end;
}

#high-low p {
  color: #fff;
  text-align: right;

  /* Location - Bounds */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 550;
  line-height: 10.089px; /* 90.909% */
  letter-spacing: 0.555px;
}
