.line-button {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  opacity: 0.6;
  mix-blend-mode: plus-lighter;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
